.hidden
{
    height: 0 !important;
    width: 0 !important;
    overflow: hidden;
    border: none !important;
}
.roomBar
{
margin-left: 10% !important;
margin-right: 5% !important;

width: 60% !important;

}

.roomContainer
{
   display: flex;

}
.roomBarTop
{
    background-Color: #2b2e4a;
          border-Radius: 10px;
          justify-Content: center;
          align-Items: Center;
          font-Size: 130%;
          height: 10% !important;
}
.roomBarLink
{
    color: white;
    margin-top: 0.5%;
    margin-bottom: 0.5%;
    margin-left: 1%;
    margin-right: 1%;
    
}
.roomBarLink :hover{
    cursor: pointer;
}
.tableJR
{
    border-collapse: separate;
    border-spacing: 0 1em;
    width: 100%;
    word-wrap: break-word;
    table-layout: fixed;
}
#nprogress .bar
{
    background: #2b2e4a !important;
}
.infoWidgetIcon
{
    font-size: 7vw !important;
}
.inputField:hover, .inputField:focus, 
{
    border:1px solid #ced4da !important;
    outline: none !important;
    box-shadow: none !important;
}

.buttonContainer > Button
{
    padding: 0.75vh 1.25vw;
    border-radius: 7px;
    font-size: 1vw;
    background-color: #2B2D42;
    color: white;
    border: none;
}
.buttonContainer > Button:hover, .buttonContainer > Button:focus
{
    background-color: #2B2D42 !important;
    border: none !important;
    outline: none !important;
    box-shadow: none !important;
}