.indexContainer
{
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 7.5%;
    
}
.title
{
    font-size: 3vw;
    color: #2B2D42;
    display: inline;
}
.titleTI
{
    font-size: 3vw;
    color: #D80032;
    display: inline;
}
.ti-cursor
{
    font-size: 4vw;
}
.titleButtonContainer
{
    display: flex;
    justify-content: center;
   margin-top: 7.5%;
}
.titleButtonContainer > Button
{
    padding: 1vh 2vw;
    border-radius: 7px;
    font-size: 2vw;
    background-color: #2B2D42;
    color: white;
    border: none;
}
.titleButtonContainer > Button:hover, .titleButtonContainer > Button:focus
{
    background-color: #2B2D42 !important;
    border: none !important;
    outline: none !important;
    box-shadow: none !important;
}
.background
{
    z-index: -10;
   position: absolute;
}
.phone
{
   background-image: url(../public/phone.png);
   height: 100px;
   width: 100px;
}