.infoWidgetContainer
{
    width: 15%;
    height: 20%;
    background-color: #2b2e4a;
    margin-right: 10%;
    border: 3px solid #2b2e4a;
    border-radius: 8px;
    color: #ffffff;
}
.infoWidgetUsername
{
    text-align: center;
    margin-top: 3%;
}
.infoWidgetData
{
    margin-left: 5%;
    margin-right: 5% !important;
    width: 90%;
}