.MenuMargin
{
    margin-right: 15%;
    margin-left:15%;
    background-color: white !important;
   
}
.MenuItem
{
    
    border-radius: 12%;
}
.MenuItem:hover
{
    background-color: blue; 
    color: white !important;
}
